* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: bisque;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;

  text-align: center;
}
.clock {
  margin-top: 30px;
  display: flex;
  position: relative;
}
.clock div {
  margin: 5px;
}
.clock span {
  width: 100px;
  height: 50px;
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px black;

  padding: 20px;
}
.clock .text {
  font-size: 15px;
  letter-spacing: 2px;
  background-color: blue;
  padding: 10px;
}
#ampm {
  font-size: 13px;
  position: absolute;
  bottom: -1;
  height: 10px;
  width: 10px;
}
